{% load i18n %}

<div>
<ul class="pagination pagination-minimal">
    <li class="previous">
        {% if page_obj.has_previous %}
            <a href="?{{ page_obj.previous_page_number.querystring }}" class="fui-arrow-left"> {% trans "上一页" %}</a>
        {% else %}
            <a class="disabled"> {% trans "上一页" %}</a>
        {% endif %}
    </li>
    <li>
        {% for page in page_obj.pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <a class="active" style="color: #9B59B6;background-color: white">{{ page }}</a>
                {% else %}
                    <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                {% endifequal %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </li>
    <li class="next">
        {% if page_obj.has_next %}
            <a href="?{{ page_obj.next_page_number.querystring }}" class="fui-arrow-right">{% trans "下一页" %}</a>
        {% else %}
            <a class="disabled">{% trans "下一页" %} </a>
        {% endif %}
    </li>
</ul>
</div>