{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>杨剑的博客</title>
</head>

<!--        css         -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link href="https://cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/base.css' %}">


<!--     js        -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="{% static 'blog/js/stickUp.min.js' %}"></script>


<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar" style="background-color: white">
        <a class="navbar-brand" href="{% url 'blog:index' %}" id="blog">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog:index' %}">主页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="message()">分类</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="message()">归档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="message()">留言板</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="尚未开放">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="message()">搜索</button>
            </form>
        </div>
    </nav>
</div>

<div class="header-banner banner">
    <h1 class="title">人 生 苦 短 我 用 python </h1>
</div>
<div class="container">

    <div class="flex-left flex-wrap units-gap-big">

        <main class="unit-3-4 unit-1-on-mobile top-gap">

            {% block main %}
            {% endblock %}

        </main>

    </div>

    <div class="right-div">

        <div class="card">
            <div class="card-header card-color">
                热门文章
            </div>
            {% get_recent_posts as recent_post_list %}
            <div class="bg-white card-block">
                <br>
                {% for post in recent_post_list %}
                    <ol>
                        <li class="icon-thumbs-up">&nbsp;&nbsp;<a style="font-size: 15px"
                                href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    </ol>
                {% empty %}
                    暂无文章！
                {% endfor %}

            </div>
        </div>

        <div class="card" style="margin-top: 20px">
            <div class="card-header card-color">
                标签云
            </div>

            <div class="card-body">
                {% get_tags as tags %}
                {% for tag in tags %}
                    <a href="{% url 'blog:tag' tag.pk %}" class="button button-pill button-tiny" style="color:#1ABC9C">{{ tag.name }}</a>
                {% empty %}
                    暂无标签！
                {% endfor %}
            </div>

        </div>
    </div>

</div>

<div id="footer" class="page-bottom">

    <p class="text-center"><span>博客总访问量：</span><span>50</span>&nbsp;&nbsp;<span>今日访问量：</span><span>2</span></p>

    <div class="copyright" style="background-color: #1ABC9C">
        <span class="text-center">欢迎来到我的博客 © 2017</span>
    </div>

</div>

</body>

<script>
    function message() {
        alert("尚未开放！")
    }
</script>


</html>