{% extends 'blog/base.html' %}
{% block main %}

                <article class="flex-left list-group-item post-item px-7">
                    <h1 class="top-gap-0">{{ post.title }}</h1>
                    <ul class="list-inline dot-divider post-meta">
                        <li class="list-inline-item text-small text-muted">
                            {{ post.created_time }}
                        </li>
                        <li class="list-inline-item text-small text-muted">0 字
                        </li>
                        <li class="list-inline-item text-small text-muted">
                            0 阅读
                        </li>
                        <li class="list-inline-item text-small text-muted">
                            0 评论
                        </li>
                    </ul>
                    <div class="top-gap-big post-body">
                        {{ post.body|safe }}
                         <div class="widget-tag-cloud">
                            <ul>
                                标签：
                                {% for tag in post.tags.all %}
                                    <li class="btn btn-sm tags-a"><a href="{% url 'blog:tag' tag.pk %}"><span class="icon-tag">&nbsp;</span>{{ tag.name }}</a></li>
                                {% endfor  %}
                            </ul>
                        </div>
                    </div>
                </article>



{% endblock main %}
{% block toc %}
{% endblock toc %}

<div class="rss">
    <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
</div>
</aside>
