{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}首页 -- 杨剑的博客{% endblock %}
{% block main %}
    <!-- 畅言评论相关 -->
<script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cytevA9pm">
</script>
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}

    {% for post in post_list %}
        <article class="flex-left list-group-item post-item px-7">
                    <div class="unit unit-1-on-mobile">
                        <h5 class="top-gap-0 post-item-title"><a href="{{ post.get_absolute_url }}">
                            {{ post.title }}</a>
                        </h5>

                        <ul class="list-inline dot-divider post-item-meta">
                            <li class="list-inline-item icon-user">
                                <span class="text-muted text-small text-faded">{{ post.author }}&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item icon-calendar">
                                    <span class="text-small text-faded" datetime="{{ post.created_time }}">{{ post.created_time }}&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item icon-eye-open">
                                    <span class="text-small text-faded">点击量：{{ post.views }}&nbsp;&nbsp;</span>
                            </li>
                            <li class="list-inline-item icon-comment">
                                    评论：<span id = "sourceId::{{ post.id }}" class = "cy_cmt_count text-small text-faded" ></span>
                            </li>
                        </ul>

                        <div class="text-small text-muted hide-on-mobile post-item-excerpt mt-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.excerpt }}
                        </div>

                         <div class="post-item-statistic mt-2">
                            <span class="badge badge-pill badge-success icon-folder-open-alt">&nbsp;{{ post.category.name }}</span>

                        </div>

                    </div>

                </article>
        {% empty %}
        <div class="flex-left list-group-item post-item px-7">暂时还没有发布的文章</div>
    {% endfor %}
     {% include "_pagination.html" %}
{% endblock %}

