{% extends 'account/base.html' %}

{% load i18n %}
{% load bootstrap %}


{% block title %}用户登录{% endblock %}


{% block main %}

    <div class="card">
        <div class="bg-primary text-white text-center"><h6 style="color: white">登录</h6></div>
        <form class="bg-white card-block" method="POST" action="{% url 'account_login' %}">
            <div style="margin:20px 30px 0px 30px">
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            </div>
        <button style="margin-left: 45px" class="button button-primary button-rounded button-small" type="submit">{% trans "Sign In" %}</button>

        <div style="margin: 10px">
            <a class="" style="margin-left: 25px;color: #3498DB" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <a class="" style="margin-left: 500px;color: #3498DB" href="{% url 'account_signup' %}">新用户注册</a>
        </div>
        </form>

    </div>
{% endblock %}


{% block footer %}
{% endblock %}
